body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(21, 104, 122, 0.39);
    color: #2A7B9B;
    margin: 0;
    padding: 0;
}

.header {
    color: rgba(255, 255, 255, 0.89);
    background-color: rgba(0, 0, 0, 0.18);
    padding: 20px;
    text-align: center;
    font-size: 22px;
}

.tracker {
    padding: 20px;
}

.summary {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.89);
}

.meals {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.meal {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
}

.nutrients {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.18);
    color: rgba(255, 255, 255, 0.89);
    text-align: center;
}

.nutrients ul {
    list-style: none;
    padding: 0;
}

.nutrients li {
    font-size: 18px;
    margin-bottom: 5px;
}

.add {
    cursor: pointer;
}