.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #4c7322;
}

.title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-left-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 4s linear infinite;
}

.p {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}