.btn {
    width: 100px;
    height: 30px;
    color: white;
    background: #4c7322;
    border-radius: 10px;
    border: none;
    transition: 0.8s;
    font-weight: 600;
}

.btn:hover {
    background: rgba(76, 115, 34, 0.76);
}

.btn:active {
    background: rgba(0, 0, 0, 0.76);
}