.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title {
    font-family: "Times New Roman", Times, serif;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 30px;
}

.span {
    opacity: 0.6;
    text-decoration: none;
}