* {
    margin: 0;
    padding: 0;
}

.tabSection {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.tabSectionMenu {
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.tabSectionMenuItems {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.tabSectionMenuItem {
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-size: 2.2rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.active {
    background: #e0e0e0;
    color: #4c7322;
}