.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Items {
    border: 3px solid #4c7322;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dataItems {
    list-style: none;
    font-weight: 900;
    border-bottom: 1.5px solid #000000;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fd6d6d;
    background: transparent;
    border: none;
    transition: 0.8s;
}

.close:hover {
    color: #ff0000;
}

.close:active {
    transform: scale(0.9);
}