.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid #ccc;
    position: relative;
}

.fileInputWrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.FileInput {
    list-style: none;
    font-weight: 900;
    border-bottom: 1.5px solid #000000;
    padding-bottom: 50px;
    padding-right: 55px;

}

.ImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Items {
    border: 3px solid #2638BF;
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border-radius: 10px;
}

.ItemsAvatar {
    border: 3px solid #2638BF;
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dataItems {
    list-style: none;
    font-weight: 900;
    border-bottom: 1.5px solid #000000;
}

.avatarImage {
    width: 195px;
    height: 185px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px dashed #2638BF;
    animation: spin 8s linear infinite;
}

.menuBtn {
    display: flex;
    gap: 10px;
}

.editAvatar {
    background-color: transparent;
    display: block;
    widht: 50px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 90px;
    border: 3px solid #2638BF;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-height: 700px) {
    .Items {
        height: 400px;
    }
    .ItemsAvatar {
        height: 400px;
    }
    .avatarImage {
        width: 80px;
        height: 80px;
        margin-bottom: 5px;
    }
    .Items {
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    .ItemsAvatar {
        font-size: 0.8rem;
    }
}