body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffefe6;
    padding: 20px;
    text-align: center;
    font-size: 22px;
}

.tracker {
    padding: 20px;
}

.summary {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 20px;
}

.meals {
    display: flex;
    flex-direction: column;
}

.meal {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
}

.nutrients {
    padding: 20px;
    background-color: #ffefe6;
    text-align: center;
}

.nutrients ul {
    list-style: none;
    padding: 0;
}

.nutrients li {
    font-size: 18px;
    margin-bottom: 5px;
}

.add {
    cursor: pointer;
}